.button {
	min-width: 80px;
	margin: 20px;
	padding: 8px 16px;

	cursor: pointer;
	transition: all 500ms ease;
	text-align: center;

	border: none;
	border-radius: 4px;

	font-size: 16px;
	font-weight: 500;
}

.primary {
	color: #FFF;
	border: 1px solid blue;
	background-color: blue;

	&:hover {
		color: blue;
		background-color: #FFF;
	}
}

.ghost {
	color: red;
	border: 1px solid red;
	background-color: darkgray;

	&:hover {
		color: darkgray;
		background-color: red;
	}
}
