.grid {
	color: red;

	.container {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		grid-gap: 15px 5px;
	}

	.c1 {
		grid-column-start: 1;
		grid-column-end: 4;
	}

	.c6 {
		grid-column: 4/ span 2;
	}

	.container div {
		min-height: 80px;
		padding: 5px;

		text-align: center;

		border: 1px solid blue;
	}
}
