.tag {
    color: #000;
    padding: 5px 10px;
    border-radius: 8px;
    margin-right: 10px;
}

.s {
    font-size: 14px;
}

.m {
    font-size: 18px;
}

.l {
    font-size: 20px;
}

.ghost {
    color: darkgray;
}

.red {
    color: red;
}

.blue {
    color: blue;
}