.tag {
	margin-right: 10px;
	padding: 5px 10px;

	color: #000;
	border-radius: 8px;
}

.s {
	font-size: 14px;
}

.m {
	font-size: 18px;
}

.l {
	font-size: 20px;
}

.ghost {
	color: darkgray;
}

.red {
	color: red;
}

.blue {
	color: blue;
}
